<% provide(:title, 'Adruino APP') %>

<h1 class="text-center">Adruino controller</h1>
 
<!--
<div class="messaging center-block">
    <div class="row">
      <div class="col-md-12">
        <form class="input-group">

          <input type="text" class="form-control" name="data">
          <span class="input-group-btn">
            <input class="btn btn-default" type="submit"  >Send</input>
          </span>

        </form>
      </div>
    </div>
  </div> -->

<center>
    <h3><div class="result"></div></h3>
  <div>
    <h3>Chế độ điều khiển</h3>
    <%= link_to "Auto", '', class: "btn btn-primary", id: 'set_auto' %> | 
    <%= link_to "Manual", '', class: "btn btn-primary", id: 'set_manual'%>
  </div>
  *******************************
  <div>
    <%= link_to "Open Gate 1", '', class: "btn btn-primary", id: 'open_1' %> | 
    <%= link_to "Close Gate 1", '', class: "btn btn-danger", id: 'close_1'%>
    <br><small>
      <a id="getDistance_1" href=""> -> Xem khoảng cách tới trạm </a><span class="distance" id = "distance_1"></span>
    </small>
  </div>
  *******************************
  <div>
    <%= link_to "Open Gate 2", '', class: "btn btn-primary", id: 'open_2' %> |
    <%= link_to "Close Gate 2", '', class: "btn btn-danger", id: 'close_2'%>
    <br><small>
      <a id="getDistance_2" href=""> -> Xem khoảng cách tới trạm </a><span class="distance" id = "distance_2"></span>
    </small>
  </div>
</center>